In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Salaries.csv')

C:\Users\minhh\AppData\Local\Temp\ipykernel_20844\2928864109.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Salaries.csv')

In [3]:
#display top 10 rows od dataset
print(data.head(10))

   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19
5   118602.0      8601.0  189082.74      NaN  316285.74         316285.74
6   92492.01     89062.9  134426.14      NaN  315981.05         315981.05
7  256576.96         0.0    51322.5      NaN  307899.46         307899.46
8  176932.64    86362.68   40132.23      NaN  303427.55         303427.55
9   285262.0         0.0   17115.73      NaN  302377.73         302377.73

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
5  2011    NaN  San Francisco    NaN
6  2011    NaN  San Francisco    NaN
7  2011    NaN  San Francisco    NaN
8  2011    NaN  San Francisco    NaN
9  2011    NaN  San Francisco    NaN

In [4]:
#check last 10 rows of dataset
print(data.tail(10))

            Id      EmployeeName                      JobTitle       BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148644          0.00          0.00          0.00      0.00              0.00
148645          0.00          0.00          0.00      0.00              0.00
148646  Not Provided  Not Provided  Not Provided      0.00              0.00
148647          0.00          0.00          0.00      0.00              0.00
148648          0.00          0.00          0.00      0.00              0.00
148649          0.00          0.00          0.00      0.00              0.00
148650  Not Provided  Not Provided  Not Provided      0.00              0.00
148651  Not Provided  Not Provided  Not Provided      0.00              0.00
148652  Not Provided  Not Provided  Not Provided      0.00              0.00
148653          0.00       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

In [5]:
#find shape of dataset (num of rows, num of columns)
print(data.shape)

(148654, 13)

In [6]:
print("Number of rows:", data.shape[0])
print("Number of columns:", data.shape[1])

Number of rows: 148654
Number of columns: 13

In [7]:
#Getting information about our dataset like total number of rows, total number of columns, data types of each column, and memory requirement
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [8]:
#check null values of dataset
print(data.isnull().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [ ]:
#drop ID, Notes, Agency and Status columns, axis=1 means we are dropping columns
data = data.drop(columns=['Id', 'Notes', 'Agency', 'Status'])

In [12]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [13]:
data.head(1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011

In [14]:
#get overall statistics of dataset
print(data.describe())

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

In [15]:
#find occurrence of the employee names (top 5)
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [16]:
print(data['EmployeeName'].value_counts().head(5))

EmployeeName
Kevin Lee       13
William Wong    11
Steven Lee      11
Richard Lee     11
John Chan        9
Name: count, dtype: int64

In [17]:
#find the number of unique job titles
print(data['JobTitle'].nunique())

2159

In [19]:
#total number of job titles contain captains
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [24]:
data[data['JobTitle'].str.contains('Captain')]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
36167,John Goldberg,Captain 3,104404.0,0.0,245999.41,24287.23,350403.41,374690.64,2012
36180,Michael Rolovich,"Captain, Fire Suppression",145659.03,125868.06,30474.97,45129.03,302002.06,347131.09,2012
36184,Darryl Hunter,"Captain, Fire Suppression",145659.03,115673.73,32610.0,49571.51,293942.76,343514.27,2012
36186,Michael Delane,"Captain, Fire Suppression",147069.71,113372.94,33012.58,45978.15,293455.23,339433.38,2012
36189,Philip Stevens,"Captain, Fire Suppression",124573.5,53895.92,130200.4,28907.03,308669.82,337576.85,2012
...,...,...,...,...,...,...,...,...,...
116604,Gregory L Stewart,"Captain, Fire Suppression",73355.21,18517.18,49917.73,25608.77,141790.12,167398.89,2014
120867,Michael J Moran,Captain 3,7660.0,1496.09,126560.36,2189.51,135716.45,137905.96,2014
122361,Michael V Rolovich,"Captain, Fire Suppression",0.0,0.0,130320.75,0.0,130320.75,130320.75,2014
126588,Stephen M Tittel,Captain 3,68491.89,0.0,23721.91,19020.79,92213.80,111234.59,2014
132232,Jeanne M Seyler,"Captain, Fire Suppression",61039.43,2285.30,7548.29,20113.76,70873.02,90986.78,2014

In [23]:
data[data['JobTitle'].str.contains('Captain')].count()

EmployeeName        411
JobTitle            411
BasePay             410
OvertimePay         411
OtherPay            411
Benefits            411
TotalPay            411
TotalPayBenefits    411
Year                411
dtype: int64

In [30]:
#display all the employee names from fire department    
data[data['JobTitle'].str.contains('Fire', case=False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [36]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [35]:
#find minimum, maximum and average salary
data['BasePay'].describe

<bound method NDFrame.describe of 0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object>

In [37]:
#replace "Not provided" in EmployeeName column to NaN
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [39]:
import numpy as np
data['EmployeeName'].replace('Not provided', np.nan)

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [44]:
#drop the rows having 5 missing values
data.drop(data[data.isnull().sum(axis=1) == 5].index, inplace=True)

In [46]:
data.isnull().sum(axis=1)

0         1
1         1
2         1
3         1
4         1
         ..
148649    0
148650    0
148651    0
148652    0
148653    0
Length: 148654, dtype: int64

In [48]:
#find job title of ALBERT PARDINI
(data[data['EmployeeName'] == 'ALBERT PARDINI']['JobTitle'])

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [50]:
#how much  ALBERT PARDINI earns (including benefits)
data[data['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [4]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [6]:
import pandas as pd

In [7]:
# Ép kiểu về số, chuỗi không hợp lệ sẽ bị chuyển thành NaN
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')

In [8]:
#find average basepay of all employees per year
# Sau đó mới groupby và tính trung bình
avg_basepay_per_year = data.groupby('Year')['BasePay'].mean()
print(avg_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [11]:
#find average basepay of all employees per job title
# Ép kiểu về float, các giá trị không phải số (như 'Not Provided') sẽ thành NaN
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')

In [13]:
# Group by JobTitle và tính trung bình BasePay
avg_basepay_per_job = data.groupby('JobTitle')['BasePay'].mean()
print(avg_basepay_per_job)

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [14]:
#find average basepay of employees having job title as  'Accountant'
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')

In [17]:
#find average basepay of employees having job title as  'Accountant'
avg_basepay_accountant = data[data['JobTitle'] == 'Accountant']['BasePay'].mean()
print("Average BasePay for Accountants:", avg_basepay_accountant)

Average BasePay for Accountants: nan

In [18]:
data[data['JobTitle'] == 'Accountant'] ['BasePay'].mean()

nan

In [21]:
#find top 5 most common job titles
top_5_job_titles = data['JobTitle'].value_counts().head(5)
print("Top 5 most common job titles:" , top_5_job_titles)

Top 5 most common job titles: JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64